name: 'dbt stg pipeline'

# Triggers
on:
  # Triggers the workflow on pull request to develop branch
  push:
    branches:
      - develop

jobs:
  stg-dbt:
    runs-on: ubuntu-latest
    environment: stg
    env:
      ENV_CODE: stg
      PROJ_CODE: entechlog
      SNOWSQL_ACCOUNT: ${{ secrets.SNOWSQL_ACCOUNT }}
      SNOWSQL_PWD: ${{ secrets.SNOWSQL_PWD }}
      
    steps:
    - name: 'Step 01 - Checkout current branch'
      uses: actions/checkout@v2
    - name: 'Step 02 - Install dbt'
      run: pip3 install dbt-core dbt-snowflake
    - name: 'Step 03 - Verify dbt'
      run: dbt --version
    - name: 'Step 04 - Compile dbt'
      working-directory: ./dbt-docs/dbt
      run:  |
        ls -ltra
        export DBT_PROFILES_DIR=$PWD
        dbt debug -t $ENV_CODE
        dbt compile -t $ENV_CODE 
    - name: 'Step 05 - Run dbt models'
      working-directory: ./dbt-docs/dbt
      run:  |
        export DBT_PROFILES_DIR=$PWD
        dbt run -t $ENV_CODE 
    - name: 'Step 06 - Test dbt models'
      working-directory: ./dbt-docs/dbt
      run:  | 
        export DBT_PROFILES_DIR=$PWD
        dbt test -t $ENV_CODE 
