name: 'dbt prd pipeline'

# Triggers
on:
  # Triggers the workflow on push to release branch
  push:
    branches:
      - main
  # Triggers the workflow manually from GUI
  workflow_dispatch:

jobs:
  prd-dbt:
    runs-on: ubuntu-latest
    environment: prd
    env:
      ENV_CODE: prd
      PROJ_CODE: entechlog
      SNOWSQL_ACCOUNT: ${{ secrets.SNOWSQL_ACCOUNT }}
      SNOWSQL_PWD: ${{ secrets.SNOWSQL_PWD }}
      
    steps:
    - name: 'Step 01 - Checkout current branch'
      uses: actions/checkout@v2
    - name: 'Step 02 - Install dbt'
      run: pip3 install dbt
    - name: 'Step 03 - Verify dbt'
      run: dbt --version
    - name: 'Step 04 - Compile dbt'
      working-directory: ./dbt-docs/dbt
      run:  |
        ls -ltra
        export DBT_PROFILES_DIR=$PWD
        dbt deps
        dbt debug -t $ENV_CODE
        dbt compile -t $ENV_CODE 
    - name: 'Step 05 - Run dbt models'
      working-directory: ./dbt-docs/dbt
      run:  |
        export DBT_PROFILES_DIR=$PWD
        dbt deps
        dbt run -t $ENV_CODE  
    - name: 'Step 06 - Test dbt models'
      working-directory: ./dbt-docs/dbt
      run:  | 
        export DBT_PROFILES_DIR=$PWD
        dbt deps
        dbt test -t $ENV_CODE 
    - name: 'Step 07 - Generate and publish dbt docs'
      working-directory: ./dbt-docs/dbt
      run:  | 
        export DBT_PROFILES_DIR=$PWD
        dbt deps
        dbt docs generate -t $ENV_CODE
        cd target
        mkdir $PWD/docs
        cp *.json *.html graph.gpickle $PWD/docs
        ls -ltra $PWD/docs